In [1]:
# Mahiapalsing Assignment

In [2]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.metrics import classification_report
from sklearn import preprocessing

In [3]:
# load datasets
company = pd.read_csv("/Users/mayur/Desktop/Excelr Solution/Assignment-15(Random Forests)/Company_Data.csv")
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [4]:
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

# Preprocessing

In [5]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

In [6]:
company["ShelveLoc"] = label_encoder.fit_transform(company["ShelveLoc"])
company["Urban"] = label_encoder.fit_transform(company["Urban"])
company["US"] = label_encoder.fit_transform(company["US"])

In [7]:
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,0,42,17,1,1
1,11.22,111,48,16,260,83,1,65,10,1,1
2,10.06,113,35,10,269,80,2,59,12,1,1
3,7.40,117,100,4,466,97,2,55,14,1,1
4,4.15,141,64,3,340,128,0,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,1,33,14,1,1
396,6.14,139,23,3,37,120,2,55,11,0,1
397,7.41,162,26,12,368,159,2,40,18,1,1
398,5.94,100,79,7,284,95,0,50,12,1,1
399,9.71,134,37,0,27,120,1,49,16,1,1

# Set feature and target variables

In [8]:
feature_cols=['CompPrice','Income','Advertising','Population','Price','ShelveLoc','Age','Education','Urban','US']

In [9]:
company['High'] = company.Sales.map(lambda x: 1 if x>8 else 0)

In [10]:
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,High
0,9.50,138,73,11,276,120,0,42,17,1,1,1
1,11.22,111,48,16,260,83,1,65,10,1,1,1
2,10.06,113,35,10,269,80,2,59,12,1,1,1
3,7.40,117,100,4,466,97,2,55,14,1,1,0
4,4.15,141,64,3,340,128,0,38,13,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,1,33,14,1,1,1
396,6.14,139,23,3,37,120,2,55,11,0,1,0
397,7.41,162,26,12,368,159,2,40,18,1,1,0
398,5.94,100,79,7,284,95,0,50,12,1,1,0
399,9.71,134,37,0,27,120,1,49,16,1,1,1

In [11]:
x = company.drop(['Sales', 'High'], axis = 1)

In [12]:
x = company[feature_cols]

In [13]:
y = company.High

In [14]:
print(x)

     CompPrice  Income  Advertising  Population  Price  ShelveLoc  Age  \
0          138      73           11         276    120          0   42
1          111      48           16         260     83          1   65
2          113      35           10         269     80          2   59
3          117     100            4         466     97          2   55
4          141      64            3         340    128          0   38
..         ...     ...          ...         ...    ...        ...  ...
395        138     108           17         203    128          1   33
396        139      23            3          37    120          2   55
397        162      26           12         368    159          2   40
398        100      79            7         284     95          0   50
399        134      37            0          27    120          1   49

     Education  Urban  US
0           17      1   1
1           10      1   1
2           12      1   1
3           14      1   1
4           13      1   0
..         ...    ...  ..
395         14      1   1
396         11      0   1
397         18      1   1
398         12      1   1
399         16      1   1

[400 rows x 10 columns]

In [15]:
print(y)

0      1
1      1
2      1
3      0
4      0
      ..
395    1
396    0
397    0
398    0
399    1
Name: High, Length: 400, dtype: int64

In [16]:
# Splitting the data into the Training data and Test data

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 40)

In [19]:
print(x_train)

     CompPrice  Income  Advertising  Population  Price  ShelveLoc  Age  \
189        118     117           18         509    104          2   26
396        139      23            3          37    120          2   55
299        135      40           17         497     96          2   54
347         96      39            0         161    112          1   27
282        150      96            0          80    154          1   61
..         ...     ...          ...         ...    ...        ...  ...
306        131      32            1          85    133          2   48
165        147      58            7         100    191          0   27
7          136      81           15         425    120          1   67
219        116      79           19         359    116          1   58
326        133      30            0         152    122          2   53

     Education  Urban  US
189         15      0   1
396         11      0   1
299         17      0   1
347         14      0   0
282         11      1   0
..         ...    ...  ..
306         12      1   1
165         15      1   1
7           10      1   1
219         17      1   1
326         17      1   0

[300 rows x 10 columns]

In [20]:
print(y_train)

189    1
396    0
299    1
347    0
282    0
      ..
306    0
165    0
7      1
219    1
326    0
Name: High, Length: 300, dtype: int64

In [21]:
print(x_test)

     CompPrice  Income  Advertising  Population  Price  ShelveLoc  Age  \
132        125      87            9         232    136          1   72
390        108      75            9          61    111          2   67
310        175      65           29         419    166          2   53
3          117     100            4         466     97          2   55
248        111      52            0          12    101          2   61
..         ...     ...          ...         ...    ...        ...  ...
27          98     118            0          19    107          2   64
183        118      74            6         426    102          2   80
157        121      58            8         249     90          2   48
129        143     120            7         279    147          0   40
279        141      57           13         376    158          2   64

     Education  Urban  US
132         10      1   1
390         12      1   1
310         12      1   1
3           14      1   1
248         11      1   1
..         ...    ...  ..
27          17      1   0
183         18      1   1
157         13      0   1
129         10      0   1
279         18      1   1

[100 rows x 10 columns]

In [22]:
print(y_test)

132    1
390    0
310    1
3      0
248    0
      ..
27     0
183    0
157    1
129    0
279    0
Name: High, Length: 100, dtype: int64

# Feature Scaling

In [23]:
from sklearn.preprocessing import StandardScaler

In [24]:
sc = StandardScaler()

In [25]:
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

# Training the Random Forest Classification model on the Training data

In [26]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 40)
classifier.fit(x_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=40)

In [27]:
classifier.fit(x_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=40)

In [28]:
classifier.score(x_test, y_test)

0.76

# Predicting the Test set results

In [29]:
y_pred = classifier.predict(x_test)

In [30]:
y_pred

array([0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [31]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [32]:
cm = confusion_matrix(y_test, y_pred)

In [33]:
print(cm)

[[56 10]
 [14 20]]

In [34]:
accuracy_score(y_test, y_pred)

0.76

In [35]:
classifier = RandomForestClassifier(n_estimators=100, criterion='gini')
classifier.fit(x_train, y_train)

RandomForestClassifier()

In [36]:
classifier.score(x_test, y_test)

0.85